In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('finalPSLresult.csv')

In [3]:
df.head()

,team_1,team_2,runs_left,balls_left,wickets_left,Targets,crr,rrr,last_five,win
0,Islamabad United,Quetta Gladiators,128,119,10,128,0.000000,6.453782,19.0,1
1,Islamabad United,Quetta Gladiators,128,118,10,128,0.000000,6.508475,20.0,1
2,Islamabad United,Quetta Gladiators,128,117,10,128,0.000000,6.564103,15.0,1
3,Islamabad United,Quetta Gladiators,126,116,10,128,1.200000,6.517241,13.0,1
4,Islamabad United,Quetta Gladiators,126,115,10,128,1.090909,6.573913,14.0,1

In [4]:
df = df[df['balls_left']!=0]

In [5]:
df.shape

(23981, 10)

In [6]:
df.isnull().sum()

team_1             0
team_2             0
runs_left          0
balls_left         0
wickets_left       0
Targets            0
crr                0
rrr                0
last_five       5972
win                0
dtype: int64

In [7]:
df.dropna(inplace=True)

In [8]:
df.shape

(18009, 10)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18009 entries, 0 to 24048
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   team_1        18009 non-null  object
 1   team_2        18009 non-null  object
 2   runs_left     18009 non-null  int64
 3   balls_left    18009 non-null  int64
 4   wickets_left  18009 non-null  int64
 5   Targets       18009 non-null  int64
 6   crr           18009 non-null  float64
 7   rrr           18009 non-null  float64
 8   last_five     18009 non-null  float64
 9   win           18009 non-null  int64
dtypes: float64(3), int64(5), object(2)
memory usage: 1.5+ MB

In [10]:
df = df.sample(df.shape[0])

In [11]:
df.head()

,team_1,team_2,runs_left,balls_left,wickets_left,Targets,crr,rrr,last_five,win
2114,Karachi Kings,Quetta Gladiators,39,22,4,149,6.346154,10.636364,53.0,0
1081,Peshawar Zalmi,Islamabad United,29,21,8,190,9.200000,8.285714,33.0,0
7923,Lahore Qalandars,Quetta Gladiators,105,76,9,201,11.520000,8.289474,24.0,1
21197,Peshawar Zalmi,Karachi Kings,143,89,8,173,4.864865,9.640449,40.0,0
2225,Multan Sultans,Lahore Qalandars,58,35,7,179,7.978022,9.942857,35.0,0

In [12]:
X = df.iloc[:,:-1]
y = df.iloc[:,-1]

In [13]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.1,random_state=1)

In [14]:
X_train

,team_1,team_2,runs_left,balls_left,wickets_left,Targets,crr,rrr,last_five
7461,Karachi Kings,Quetta Gladiators,60,70,8,126,7.071429,5.142857,45.0
10224,Peshawar Zalmi,Karachi Kings,50,23,5,181,7.631068,13.043478,48.0
21733,Lahore Qalandars,Quetta Gladiators,77,47,9,204,9.645570,9.829787,53.0
3189,Peshawar Zalmi,Quetta Gladiators,96,84,8,155,8.428571,6.857143,41.0
14529,Multan Sultans,Quetta Gladiators,26,33,8,121,6.129032,4.727273,48.0
...,...,...,...,...,...,...,...,...,...
4680,Lahore Qalandars,Islamabad United,23,20,2,182,9.000000,6.900000,20.0
1679,Quetta Gladiators,Islamabad United,129,97,10,148,3.931034,7.979381,71.0
22503,Peshawar Zalmi,Quetta Gladiators,171,112,10,185,6.000000,9.160714,51.0
16633,Islamabad United,Lahore Qalandars,163,85,8,198,5.121951,11.505882,51.0
23744,Peshawar Zalmi,Islamabad United,91,57,8,169,6.782609,9.578947,33.0

In [15]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
trf = ColumnTransformer([
    ('trf',OneHotEncoder(sparse=False,drop='first'),['team_1','team_2'])
]
,remainder='passthrough')

In [20]:
from sklearn.linear_model import LogisticRegression
from sklearn import svm
from sklearn.pipeline import Pipeline

In [21]:
pipe = Pipeline(steps=[
    ('step1',trf),
    ('step2',LogisticRegression())
])

In [22]:
pipe.fit(X_train,y_train)

C:\Users\UC\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Pipeline(steps=[('step1',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('trf',
                                                  OneHotEncoder(drop='first',
                                                                sparse=False),
                                                  ['team_1', 'team_2'])])),
                ('step2', LogisticRegression())])

In [28]:
pipe2 = Pipeline(steps=[
    ('step1',trf),
    ('step2',svm.SVC(probability=True))
])
pipe2.fit(X_train,y_train)

Pipeline(steps=[('step1',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('trf',
                                                  OneHotEncoder(drop='first',
                                                                sparse=False),
                                                  ['team_1', 'team_2'])])),
                ('step2', SVC(probability=True))])

In [29]:
y_pred = pipe2.predict(X_test)

In [30]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.8017767906718489

In [31]:
pipe2.predict_proba(X_test)[11]

array([0.076632, 0.923368])

In [ ]:
import pickle

In [ ]:
#pickle.dump(pipe,open('piperesult.pkl','wb'))